{{define "loggedIn"}}

<div class="centerBox">
    <div class="greetingBox">Welcome!</div>

</div>
<div class="centerBox">
<button hx-post="/account/logout/" target="#body" class="navBtn">Logout</button>
<button hx-post="/account/delete/" target="#body" class="navBtn">Delete</button>
<button id="scheduleBtn" class="navBtn">Schedule</button>
</div>


<script>
    {
    let btn = document.getElementById("scheduleBtn")
    console.log("In the schedule function")
    function getSchedule() {

        fetch("/account/schedule/scheduleID/", {
            method:"GET",
        }).then(response => {
            console.log("Response:", response.status)
            if (!response.ok) {
                console.error("Request failed", response.status)
                return
            }
            return response.json()
        }).then(data => {
            console.log("ScheduleID:", data.ScheduleID)

            const form = document.createElement("form");
            form.method = "POST";
            form.action = "/account/schedule/";

            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "ScheduleID";
            input.value = data.ScheduleID;
            
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();

            // fetch("/account/schedule/", {
            // method:"POST",
            // headers: {
            //     "Content-Type":"application/json"
            // },
            // body:JSON.stringify({
            //     ScheduleID:schID
            // })
        }).catch(error => {
            console.error("GET failed", error)
            return;
        })
        
    }
    btn.addEventListener("click", getSchedule)
}
</script>


{{end}}