{{range .}}

<div class="timeBlock{{.BlockID}} timeBlock" id="timeBlock{{.BlockID}}">
    <script src="/static/js/scheduler.js"></script>
    {{.BlockID}}
    <style>
        .timeBlock{{.BlockID}} {
            position:absolute;
            left:{{.Left}}px;
            width:40px;
            height:60px;
            background-color:blue;
            top:0px;
        }
    </style>
    <div class="timeBlockHandleLeft" id="timeBlockHandleLeft{{.BlockID}}">
        <script>
            {
        // const schedule = document.getElementById("scheduleGraph")

        // const increments = 10;
        // const incrementDistance = schedule.offsetWidth/(-(8-18) * 60/increments); //This would be from 8 to 6 (60 minutes to the hout) and 10 minute increments

        // const dayDistance = schedule.offsetHeight/(5); //5 days a week
            
        let blockHandleLeft = document.getElementById("timeBlockHandleLeft{{.BlockID}}");
        let block = document.getElementById("timeBlock{{.BlockID}}");

        blockHandleLeft.addEventListener("pointerdown", function(event){
            event.stopPropagation();

            let startingX = event.clientX;
            let startingLeft = parseFloat(getComputedStyle(block).left);
            let startingWidth = block.offsetWidth;


            function resize(event) {
                let distanceMoved = Math.round((event.clientX - startingX)/window.incrementDistance)*window.incrementDistance;
                let newWidth = startingWidth - distanceMoved;
                // let newLeft = Math.floor((startingLeft + distanceMoved)/incrementDistance)*incrementDistance;
                if (newWidth < window.blockMin){
                    let extraTravel = window.blockMin - newWidth;
                    newWidth = window.blockMin;

                } else if (newWidth > window.blockMax){
                    newWidth = window.blockMax;
                }

                let actualChange = startingWidth - newWidth

                let newLeft = startingLeft + actualChange;
                block.style.left = `${newLeft}px`;
                block.style.width = `${newWidth}px`;

            }
            function stopResize() {
                document.removeEventListener("pointermove", resize);
                document.removeEventListener("pointerup", stopResize)
            }

            document.addEventListener("pointermove", resize);
            document.addEventListener("pointerup", stopResize);
        });
    }
    </script>
    </div>
    <div class="timeBlockHandleRight" id="timeBlockHandleRight{{.BlockID}}">
        <script>
            {
        let blockHandleRight = document.getElementById("timeBlockHandleRight{{.BlockID}}");
        let block = document.getElementById("timeBlock{{.BlockID}}");
        blockHandleRight.addEventListener("pointerdown", function(event){
            event.stopPropagation()
            let startingX = event.clientX;
            let startingWidth = block.offsetWidth;

            function resize(event) {
                let distanceMoved = event.clientX - startingX;
                let newWidth = Math.floor((startingWidth + distanceMoved)/window.incrementDistance)*window.incrementDistance;
                if (newWidth < window.blockMin){
                    newWidth = window.blockMin

                } else if (newWidth > window.blockMax){
                    newWidth = window.blockMax
                }
                block.style.width = `${newWidth}px`;
            }
            function stopResize() {
                document.removeEventListener("pointermove", resize);
                document.removeEventListener("pointerup", stopResize)
            }

            document.addEventListener("pointermove", resize);
            document.addEventListener("pointerup", stopResize);
        });
    }
    </script>

    <script>
        {
            let block = document.getElementById("timeBlock{{.BlockID}}")

            block.addEventListener("pointerdown", function(event){
                event.stopPropagation();
                let startingX = event.clientX;
                let startingY = event.clientY;
                let startingLeft = parseFloat(getComputedStyle(block).left);
                let startingTop = parseFloat(getComputedStyle(block).top);

                function relocate(event){
                    let distanceMoved = event.clientX - startingX;
                    let heightMoved = event.clientY - startingY;
                    let newLeft = Math.round((startingLeft + distanceMoved)/window.incrementDistance)*window.incrementDistance;
                    if (newLeft < 0){
                        newLeft = 0;
                    } else if(newLeft > window.schedule.offsetWidth - block.offsetWidth) {
                        newLeft = window.schedule.offsetWidth - block.offsetWidth
                    }
                    block.style.left = `${newLeft}px`;

                    let newTop = Math.round((startingTop + heightMoved)/dayDistance)*dayDistance;
                    if (newTop < 0){
                        newTop = 0;
                    } else if(newTop > window.schedule.offsetHeight - block.offsetHeight) {
                        newTop = window.schedule.offsetHeight - block.offsetHeight;
                    }
                    block.style.top = `${newTop}px`;
                }

                function stopRelocate() {
                document.removeEventListener("pointermove", relocate);
                document.removeEventListener("pointerup", stopRelocate)
            }

            document.addEventListener("pointermove", relocate);
            document.addEventListener("pointerup", stopRelocate);
            })
        }
    </script>

    <script>
        {
            // const DAYS_OF_WEEK = [
            //         "Mon",
            //         "Tue",
            //         "Wed",
            //         "Thur",
            //         "Fri",
            //     ]
            // const schedule = document.getElementById("scheduleGraph");
            // const increments = 10;

            // const incrementDistance = schedule.offsetWidth/(-(8-18) * 60/increments); //This would be from 8 to 6 (60 minutes to the hout) and 10 minute increments
            // const dayDistance = schedule.offsetHeight/(5); //5 days a week
            function updateSize() {

            let block = document.getElementById("timeBlock{{.BlockID}}")
            block.style.height = `${window.dayDistance}px`;
            block.style.top = `${window.dayDistance * window.DAYS_OF_WEEK.indexOf("{{.DayOfWeek}}")}px`;
            console.log("{{.DayOfWeek}}");
            let durationStr = "{{.Duration}}";
            let startTimeStr = "{{.StartTime}}"

            let [hours, minutes] = durationStr.split(":").map(Number);
            block.style.width = `${(((hours)*60 + minutes)/window.increments)*window.incrementDistance}px`;
            [hours, minutes] = startTimeStr.split(":").map(Number);
            block.style.left = `${(((hours-8)*60 + minutes)/window.increments)*window.incrementDistance}px`
            }
            updateSize()

            document.addEventListener("resize", updateSize())
        }
    </script>
    </div>
</div>

{{end}}