{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    {{block "imports" .}}
    {{end}}
    <script src="https://unpkg.com/htmx.org"></script>
    <title>{{template "title" .}}</title>
</head>
<body id="body">
    {{ template "nav" .}}
    <div class="body">
        {{ template "body" .}}
    </div>
    
</body>
</html>

{{ end }}