{{define "nav"}}

<nav class="nav">
    <div class="navLeft">
        <div class="logoDiv">
            <a href="/"><img src="/static/Images/byu-logo-white-small.svg" alt="BYU logo"></a>
        </div>
    </div>
    <div class="navCenter">
        {{template "loggedIn" .}}
    </div>
    <div class="navRight">
        <a href="/account"><button class="navBtn">Account</button></a>
        <a href="/admin/schedules/approvals/"><button class="navBtn">Approvals</button></a>
    </div>
</nav>

{{end}}