{{ define "title" }}

Scheduler

{{end}}

{{ block "imports" .}}

<link rel="stylesheet" href="/static/css/scheduler.css">


{{end}}

{{define "body"}}

<div class="">
    <script src="/static/js/scheduler.js"></script>

    <div class="schedulerBlock">
        <div class="scheduleGraph" id="">
            <div class="scheduleLine" hx-get="/account/schedule/loadTimeBlocks/" hx-target="#scheduleGraph" hx-vals='{"ScheduleID": {{.ScheduleID}}}' hx-swap="beforeend" hx-trigger="load"></div>

            <div class="">
                <div class="scheduleImgBlock" id="scheduleImg">
                    <img class="scheduleImg" src="/static/Images/ScheduleImg3.png" alt="ScheduleImg">
                    <div class="timeBlockBox" id="">
                        <div class="leftScheduleBlock">aaa</div>
                        <div class="timeBlocks">
                            <div class="rightScheduleBlock" id="scheduleGraph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <button class="saveBtn" id="editBtn">edit</button>
            
<script>
    {
    let btn = document.getElementById("editBtn")
    console.log("In the schedule function")
    function getSchedule() {

            console.log("ScheduleID:", {{.ScheduleID}})

            const form = document.createElement("form");
            form.method = "POST";
            form.action = "/account/schedule/edit/";

            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "ScheduleID";
            input.value = {{.ScheduleID}};
            
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        
    }
    btn.addEventListener("click", getSchedule)
}
</script>
            <div hx-get="/account/schedule/status/" type="button" hx-trigger="load" class="saveBtn"></div>

        </div>
    </div>
</div>

{{end}}